@import "src/styles/variables";
@import "src/styles/methods";
@import "src/styles/mixins";

.container {
  @include cell-base;

  display: flex;
  flex: 0 0 auto;
  align-items: center;

  &.fluid {
    flex: 1 1 100%;
  }
}

.title {
  font-size: 1.25rem;

  @media screen and (max-width: $bp-tablet) {
    font-size: 1rem;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 0.75rem;
  }
}

.unit {
  margin-left: get-pixel-grid-value(4);
  font-size: 1.25rem;

  @media screen and (max-width: $bp-tablet) {
    margin-left: get-pixel-grid-value(2);
    font-size: 1rem;
  }

  @media screen and (max-width: $bp-mobile) {
    margin-left: get-pixel-grid-value(1);
    font-size: 0.75rem;
  }
}

.icon {
  margin-right: get-pixel-grid-value(2);
  font-size: 1.5rem;

  @media screen and (max-width: $bp-tablet) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: $bp-mobile) {
    margin-right: get-pixel-grid-value(1);
    font-size: 0.875rem;
  }
}
