@import "src/styles/methods";

.container {
  display: grid;
  overflow: auto;
  height: 100%;
  padding: get-pixel-grid-value(2);
  grid-auto-rows: minmax(60px, 80px);
  grid-gap: get-pixel-grid-value(2);
  grid-template-columns: repeat(5, 1fr);

  @media screen and (max-width: $bp-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $bp-mobile) {
    grid-auto-rows: minmax(52px, 80px);
    grid-template-columns: 1fr;
  }
}
