@import "src/styles/variables";

html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: $color-default-background;
  color: $color-default-text;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
