@import "src/styles/variables";
@import "src/styles/methods";

@mixin cell-base {
  padding: get-pixel-grid-value(4);
  border-radius: $radii-medium;

  @media screen and (max-width: $bp-tablet) {
    padding: get-pixel-grid-value(3);
  }

  @media screen and (max-width: 480px) {
    padding: get-pixel-grid-value(2);
    border-radius: $radii-small;
  }

  &.informative {
    border: 1px solid $color-informative-border;
    background: $color-informative;
  }

  &.negative {
    border: 1px solid $color-negative-border;
    background: $color-negative;
  }

  &.positive {
    border: 1px solid $color-positive-border;
    background: $color-positive;
  }
}
