$pixel-grid-unit: 4px;
$color-default-background: #1f1e1e;
$color-default-text: #f0f0f0;
$color-negative: #a20e0e;
$color-negative-border: #b02626;
$color-positive: #339122;
$color-positive-border: #3ba622;
$color-informative: #303336;
$color-informative-border: #6e6e6e;
$radii-medium: 6px;
$radii-small: 4px;
$bp-tablet: 1024px;
$bp-mobile: 480px;
