@import "src/styles/methods";
@import "src/styles/mixins";

.container {
  @include cell-base;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.identifier {
  font-size: 1rem;
}

.infoContainer {
  display: flex;
  flex-flow: column;
}

.unit {
  font-size: 0.75rem;
  text-align: end;

  &:first-of-type {
    margin-bottom: get-pixel-grid-value(1);
  }
}
