@import "src/styles/variables";
@import "src/styles/methods";

.container {
  display: flex;
  flex-flow: column;
  padding: get-pixel-grid-value(4);
  border-bottom: 1px solid $color-informative-border;
  background: $color-default-background;

  @media screen and (max-width: $bp-tablet) {
    padding: get-pixel-grid-value(3);
  }

  @media screen and (max-width: $bp-mobile) {
    padding: get-pixel-grid-value(2);
  }
}

.panelOverviewContainer {
  margin-bottom: get-pixel-grid-value(4);

  @media screen and (max-width: $bp-tablet) {
    margin-bottom: get-pixel-grid-value(3);
  }

  @media screen and (max-width: $bp-mobile) {
    margin-bottom: get-pixel-grid-value(2);
  }
}

.panelHealthContainer {
  display: flex;
  flex-flow: column;
}

.cellContainer {
  display: flex;

  & > div:last-of-type {
    margin-left: get-pixel-grid-value(4);

    @media screen and (max-width: $bp-tablet) {
      margin-left: get-pixel-grid-value(3);
    }

    @media screen and (max-width: $bp-mobile) {
      margin-left: get-pixel-grid-value(2);
    }
  }
}

.title {
  margin-bottom: get-pixel-grid-value(2);
  font-size: 1.5rem;

  @media screen and (max-width: $bp-tablet) {
    font-size: 1rem;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 0.875rem;
  }
}
